.container {
  padding-top: 50px;
}

.form-label{
  margin-bottom: 5px;
}

input[type=number]{
  max-width: 80px;
  text-align: center;
}

input[readonly] {
  background: #ffffad;
  max-width: 80px;
  text-align: center;

}

input[readonly]:hover {
  cursor: not-allowed;
}

input[readonly] {
  background-color: lightgrey;
}

.card.card-list {
  padding: 2px;
  margin-bottom: 15px;
}

.card.card-list.card-selected {
  border: 2px solid #ef5350 !important;
}

.card.card-list:hover {
  border: 2px solid #ef5350 !important;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}


.display-linebreak {
  white-space: pre-line;
}



/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
